@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --orange: #ec5242;
  --dark: #272a31;
  --grey: #d3d3d3;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--dark);
}

ul {
  list-style: none;
}

.lato {
  font-family: "Lato", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.orange-divisor {
  height: 1px;
  width: 40px;
  background-color: var(--orange);
  margin-bottom: 20px;
}

/*----------NAV - HAMBURGUER-------------*/

.nav-container {
  position: fixed;
  left: -300px;
  z-index: 500;
  width: 100vw;
  max-width: 300px;
  height: 100vh;
  background-color: #272a31ee;
  backdrop-filter: blur(4px);
  padding: 20px;
  transition: left 100ms;
}

.show {
  left: 0px;
}

.show-desktop {
  display: none;
}

.media {
  width: 100%;
  padding: 5px 20px;
  background-color: var(--dark);
}

.media-container {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin: auto;
}

.media-icon {
  height: 13px;
}

.media-text {
  color: #d3d3d3;
  font-size: 11px;
}

.desktop-header {
  width: 100%;
  padding: 20px 20px;
  box-shadow: 2px 2px 4px black;
}

.desktop-nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  max-width: var(--max-width);
  margin: auto;
}

.desktop-nav-logo {
  display: flex;
  place-content: center;
  margin-right: auto;
}

.desktop-nav-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.close-btn {
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.nav-logo {
  min-width: 80%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-item a {
  color: var(--grey);
  font-size: 25px;
  font-weight: 500;
}

.active a{
  color: var(--orange);
  font-weight: 600;
}

.nav-campaign {
  background-color: transparent;
  border: 3px solid var(--orange);
  color: var(--orange);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
}

.mobile-nav-campaign {
  color: white;
  background-color: #ec5242;
  font-weight: 600;
}

/*----------NAV - HAMBURGUER - FINISH-------------*/

.about-section {
  padding: 90px 20px;
  background-image: url(./assets/icons/about-background.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  background-color: #f7f7f7;
}

.nav-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.about-hello {
  color: var(--orange);
  font-size: 20px;
  font-weight: 500;
}

.about-title {
  width: 100%;
  text-align: center;
  color: var(--orange);
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 25px;
  max-width: 900px;
}

.about-description {
  color: var(--dark);
  text-align: center;
  background-color: white;
  border: 2px solid #e2e1e1;
  padding: 10px;
  font-size: 12px;
  line-height: 150%;
}

.contact-text {
  color: var(--dark);
  text-align: center;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
}

.email {
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
  font-weight: 600;
  font-size: 12px;
}

.logo-section {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--grey);
}

.section-title {
  font-weight: 400;
  font-size: 18px;
}

.logo-description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #5f5f5f;
}

.img-container {
  border: 1px solid var(--grey);
  width: 100%;
  padding: 40px 20px;
  display: flex;
  place-content: center;
  margin: 30px 0;
}

.logo-img {
  width: auto;
  height: 100%;
  max-height: 50px;
}

.history-section {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nyork {
  background-image: url(./assets/img/new-york-efect.png);
}

.tokyo {
  background-image: url(./assets/img/tokyo-effect-2.png);
}

.history-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.history-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 20px);
  padding: 70px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  max-width: 400px;
  margin: auto;
}

.card-year {
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.card-desc {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.white {
  color: white;
}

.footer {
  margin-top: 50px;
  padding: 30px 0;
  background-color: #242425;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo-footer {
  max-width: 40%;
}

.footer-text {
  font-size: 10px;
  color: white;
}

/*-------- RESPONSIVE --------*/

@media screen and (min-width: 768px) {
  .hide-desktop {
    display:none;
  }

  .show-desktop {
    display: flex;
  }

  .about-title {
    font-size: 50px;
  }

  .about-description {
    max-width: 600px;
    font-size: 15px;
    margin-bottom: 40px;
  }

  .logo-description {
    max-width: 600px;
  }

  .img-container {
    max-width: 500px;
  }

  .history-container {
    flex-direction: row;
    justify-content: center;
  }

  .history-card {
    min-height: 100%;
    transition: all 200ms;
    width: 400px;
  }

  .history-card:hover {
    filter: saturate(0.15);
  }
}