@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --orange: #ec5242;
  --dark: #272a31;
  --grey: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lato {
    font-family: "Lato", sans-serif;
  }
  
  .poppins {
    font-family: "Poppins", sans-serif;
  }
  
  .roboto {
    font-family: "Roboto", sans-serif;
  }

  .orange-divisor {
    height: 1px;
    width: 40px;
    background-color: var(--orange);
    margin-bottom: 20px;
  }
  
  .about-section {
    padding: 90px 20px;
    background-image: url(./assets/icons/about-background.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    background-color: #f7f7f7;
  }
  
  .nav-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .about-hello {
    color: var(--orange);
    font-size: 20px;
    font-weight: 500;
  }

  .about-title {
    width: 100%;
    text-align: center;
    color: var(--orange);
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 25px;
  }

  .about-description {
    color: var(--dark);
    text-align: center;
    background-color: white;
    border: 2px solid #e2e1e1;
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
  }

  .contact-text {
    color: var(--dark);
    text-align: center;
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
  }

  .email {
    border-bottom: 1px solid var(--dark);
    color: var(--dark);
    font-weight: 600;
    font-size: 12px;
  }

  .logo-section {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--grey);
  }

  .section-title {
    font-weight: 400;
  font-size: 18px;
  }

  .logo-description {
    font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #5f5f5f;
  }

  .img-container {
    border: 1px solid var(--grey);
    width: 100%;
    padding: 20px;
    display: flex;
    place-content: center;
  }

  .logo-img {
    width: auto;
    height: 100%;
    max-height: 50px;
  }

  .history-section {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nyork {
    background-image: url(./assets/img/new-york-efect.png);

  }

  .tokyo {
    background-image: url(./assets/img/tokyo-effect-2.png);
  }

  .history-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 20px);
    margin: auto 20px;
    padding: 70px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-year {
    color: white;
    font-size: 25px;
    font-weight: 800;
  }

  .card-desc {
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }

  .white {
    color: white;
  }

  .partners-section {
    background-color: #414246;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }

  .partner-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .footer {
    padding: 30px 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .logo-footer {
    max-width: 40%;
  }

  .footer-text {
    font-size: 10px;
    color: rgb(100, 100, 100)
  }